*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
    background-color: black;
    color: white;
}
p{
   line-height: 1.5;
}
h1,h2{
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    color: gray;
}
img{
    max-width: 100%;
}

/*Utilities*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    display: block;
    border: 1px solid white;
    margin: 10px auto;
    padding: 20px;
    width: 120px;
    text-align: center;
    border-radius: 20px;
    background-color: #dab10d;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}