.barra-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  align-items: center;

}       
.barra-menu h1{ 
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}
.menu a{
    margin-right: 20x;
}
.menu a:hover{
color: #ffcc00;
text-decoration: underline; 
}

img.estudiante{
    width: 20%;
}